BasedOnStyle: Google
UseTab: Never
ColumnLimit: 100
TabWidth: 4
IndentWidth: 4
AccessModifierOffset: -4
AlignTrailingComments: "false"
AllowShortBlocksOnASingleLine: "false"
AllowShortCaseLabelsOnASingleLine: "true"
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: "false"
AllowShortLoopsOnASingleLine: "true"
AlwaysBreakTemplateDeclarations: "true"
BinPackParameters: "false"
BreakBeforeBinaryOperators: "false"
BreakBeforeBraces: Custom

BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

BreakConstructorInitializers: BeforeComma
BreakConstructorInitializersBeforeComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false

DerivePointerAlignment: "false"
IndentCaseLabels: "false"
KeepEmptyLinesAtTheStartOfBlocks: "false"
Language: Cpp
MaxEmptyLinesToKeep: "2"
PointerAlignment: Left
SortIncludes: "false"
SpaceBeforeAssignmentOperators: "true"
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: "false"
SpacesInParentheses: "false"

ForEachMacros:
  - TEST_CLASS
  - TEST_METHOD
  - BOOST_AUTO_TEST_CASE
  - BOOST_FIXTURE_TEST_CASE
  - BOOST_TEST

StatementMacros:
  - DEBUG_TEST
